<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stepbystep"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name=".AVB"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.stepbystep.SBSMainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.stepbystep.LoginActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.RegisterActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.EXshow" >
        </activity>
        <activity android:name="com.example.stepbystep.MymainpageActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.attentionpeopleActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.wantedActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.publishActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.LookActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.LookpersonActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.myexshow" >
        </activity>
        <activity android:name="com.example.stepbystep.TAmainpage" >
        </activity>
        <activity android:name="com.example.stepbystep.message" >
        </activity>
        <activity android:name="com.example.stepbystep.changepersonActivity" >
        </activity>
        <activity android:name="com.example.stepbystep.more" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>